.alinear-vertical{
    display: flex;
    align-items: center;
}

@media (max-width: 768px)
{
    .alinear-mobile{
        text-align: center;
    }
}

.bg-custom{
    background-image: url('./bar_noches.jpg');
    background-repeat: no-repeat;
 
    background-position: center;
    background-size: cover;
}

.etiqueta{
    border: solid 2px black;
    border-radius:20px 0px 20px 0px;
    background-color: rgb(248, 120, 15);
    color: black;
    font-weight: bold;
}
.etiqueta:hover{
    background-color: rgb(243, 227, 9) !important;
    color: black;
}
.circular{
    border-radius: 80px;
}
.imagen-altura{
    height: 200px;
}